body {
}

ul.menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul.menu a {
    display: block;
    color: #1B1B1B;
    background-color: #E2E2E2;
    width:8em;
    padding: .2em .8em;
    text-decoration: none;
}

ul.menu a:hover
{
	background-color: #999;
}

ul.menu li {
	margin: 0 0 .2em 0;
}